#top-right-links {
    text-align: right;
}

#search-bar{
    border-radius: 50px;
    width: 600px;
}

.search-bar-row{
    justify-content: center;
}

.search-button-row{
    justify-content: center;
}

#search-button {
    width: 300px;
}

#search-container {
    height: 90vh;
}

#advanced-button {
    background: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: none;
    margin: 10px 0;
    height: 30px;
    min-width: 120px;
}