#top-right-links {
    display: flex;
    justify-content: flex-end;
}

.link {
    padding-top: 10px;
    padding-left: 80px;
}

#search-bar{
    border-radius: 50px;
    width: 600px;
}

.search-bar-row{
    justify-content: center;
}

.search-button-row{
    padding: 25px;
}

#search-button {
    background-color: #f8f9fa;
    border: 1px solid lightgray;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    height: 36px;
    min-width: 54px;
    text-align: center;
}

#advanced-button {
    background: #8ab4f8;
    border-color: #8ab4f8;
    color: #202124;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
    white-space: nowrap;
    border-radius: 2px;
    box-shadow: none;
    margin: 10px 0;
    height: 30px;
    min-width: 120px;
    border: 1px solid #8ab4f8;
    
}

@font-face {
    font-family: "Product Sans";
    src: local("Open Sans"), local("OpenSans"), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
}

div > span{
    font-size: 86px;
    font-family: 'Product Sans';
    font-weight: bold;
    float:left;
}

.rotated-e{
    float:left;
    transform: rotate();
    -webkit-transform: rotate(-20deg);
}
/* It dissapears the space between <span> */
#logo {
    font-size: 0;    
}

#images-sub {
    font-size: 16px;
    color: #4487f6;
    font-family: roboto-regular, arial, sans-serif;
    font-weight: normal;
    float: right;
    transform: translate(8rem, -1.9rem);
}

#small-font{
    font-size: 28px;
}

.advanced-search{
    color: #d93025;
    font-size: 20px;
    padding-top: 37px;
}

.advanced-text{
    color: #333;
    font-family: arial,sans-serif;
    font-size: 13px;
}

.inputazo {
    width:95%;
}